# Ignore large files
.gz
corpus*txt
dtm*txt
glove*txt

# Ignore code and data from outside sources
CQHDimensionalPhenotyper.py
en-verbs.txt
word_forms.py
Yeo_JNeurophysiol11_MNI152/

# Ignore sequestered files
in_progress/
archive/

# Ignore byte code
.pyc
__pycache__/
.ipynb_checkpoints/
